{% schema %}
{
  "name": "Google Map",
  "settings": [
    {
      "type": "checkbox",
      "id": "max_width_1",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "html",
      "id": "google_maps_url",
      "label": "Google Maps Embed"
    }
  ],
  "presets": [{
    "name": "Google Map"
    }
  ]
}
{% endschema %}

<div class="section-stack {% unless section.settings.max_width_1 %}container{% endunless %}">
{{ section.settings.google_maps_url }}
</div>
